.body{
    width: 1440px;
}

.container {
  position: relative;
  width: 1440px;
  height: 700px;
}


.sh {
  
    position: absolute;
    width: 303px;
    height: 24px;
    left: 240px;
    top: 25px;
  
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  
    color: #3159c2;
  }
  
  .shh {
    position: absolute;
    width: 76px;
    height: 32px;
    left: 243px;
    top: 100px;
  
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* or 118% */
  
    color: #090909;
  }
  
  table {
    position: absolute;
    width: 1120px;
    height: 220px;
    left: 240px;
    top: 165px;
  }
  
  .up {
    
    width: 700px;
    height: 50px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 23px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  
    color: #3159c2;
  }
  
  .no {
    padding-left: 20px;
    width: 190px;
  }
  
  .name {
    width: 450px;
  }
  
  .ket{
    width: 200px;
  }
  .usr1 {
    position: absolute;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    margin-top: 35px;
    padding-left: 30px;
    color: #000000;
  }
  
  .usr2 {
    width: 350px;
    margin-left: 300px;
    margin-top: 35px;
    position: absolute;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    color: #000000;
  }
  
  
  .lh {
    text-decoration: none;
    position: absolute;
    margin-top: -5px;
    left: 830px;
    border: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    padding: 5px;
    padding-right: 7px;
    padding-left: 7px;
    /* white */
  
    color: #ffffff;
    background: #1d4ed8;
    border-radius: 3px;
  }
  
  .ed {
    text-decoration: none;
    left: 600px;
    margin-top: -5px;
    position: absolute;
    margin-left: 300px;
    border: white;
    padding: 5px;
    padding-right: 7px;
    padding-left: 7px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
  
    /* white */
  
    color: #ffffff;
    background: #d81d1d;
    border-radius: 3px;
  }

  .rol {
    position: absolute;
    left: 600px;
    top: 410px;
  }
  
  .upl {
    text-decoration: none;
    border: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    padding-left: 30px;
    padding-top: 5px;
  
    color: #ffffff;
    position: absolute;
    width: 180px;
    height: 34px;
    left: calc(50% - 206px / 2 + 500px);
    top: 110px;
  
    background: #3159c2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
    border-radius: 25px;
  }