.nav {
  position: absolute;
  width: 192px;
  height: 728px;
  left: -10px;
  top: -19px;

  background: #ffffff;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0px 25px 25px 0px;
}

.logo {
  position: absolute;
  left: 60px;
  top: 50px;
}

.cmh {
  position: absolute;
  width: 320px;
  height: 18px;
  left: 20px;
  top: 95px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 24px;
  /* identical to box height, or 169% */

  color: #3159c2;
}

.prof {
  position: absolute;
  width: 93px;
  height: 93px;
  left: 48px;
  top: 170px;
}

.us {
  position: absolute;
  width: 65px;
  height: 24px;
  left: 60px;
  top: 260px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13.5px;
  line-height: 24px;
  /* identical to box height, or 118% */

  color: #000000;
}
.con{
    width: 1248px;
    
}
.boa {
  list-style: none;
  text-decoration: none;
  position: absolute;
  width: 77px;
  height: 24px;
  left: 53px;
  top: 350px;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 169% */

}

.no-type {
  text-decoration: none;
  color: #b3b3b3;
}

.type{
  text-decoration: none;
  color: #3159c2;
}

.tr {
  text-decoration: none;
  position: absolute;
  width: 68px;
  height: 24px;
  left: 53px;
  top: 400px;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 169% */

  color: #b3b3b3;
}

.ph {
  text-decoration: none;
  position: absolute;
  width: 67px;
  height: 24px;
  left: 53px;
  top: 450px;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 169% */

  color: #b3b3b3;
}

.ps {
  text-decoration: none;
  position: absolute;
  width: 42px;
  height: 24px;
  left: 53px;
  top: 500px;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 169% */

  color: #b3b3b3;
}

.ber {
  text-decoration: none;
  position: absolute;
  width: 43px;
  height: 24px;
  left: 53px;
  top: 550px;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 169% */

  color: #b3b3b3;
}